/*Верхняя панель*/
.brand_nav{
	margin-left:12px;
}
.search_con{
    margin-top: 8px;
}
.btn_exit{
	margin-top: 8px;
}
.usr_nav{
	margin-left:351px;
	margin-top: 15px;
}
.btn_exit{
	margin-left:5px;
	margin-top: 0px;
	width:10%;
}

/*Три горизонтальных блока*/
.notepads{
	background-color:#848484;
	height: 89%;
}
.records{
	background-color:#A4A4A4;
	height: 89%;
}
.contents{
	background-color:#E6E6E6;
	height: 89%;
}

/*Кнопки в блоках*/
.add_but_not{
	position:relative;
	width:40%;
	margin-top:530px;
	margin-left:14px;
}
.del_but_not{
	position:relative;
	width:40%;
	margin-top:530px;
}
.add_but_rec{
	position:relative;
	width:40%;
	margin-top:530px;
	margin-left:14px;
}
.del_but_rec{
	position:relative;
	width:40%;
	margin-top:530px;
}
.cl_but_con{
	position:absolute;
	top:530px;
	left:10px;
	width:48%;
}
.save_but_con{
	position:absolute;
	top:530px;
	left:250px;
	width:45%;
}
.btn_edit{
	position:absolute;
	top:530px;
	width:94%;
}

/*прочие элементы*/
.name_record{
	margin-top:10px;
}
textarea {
	resize: none;
	border-radius:10px;
}
.textarea1{
	height:300px;
}
.textarea2{
	height:150px;
	width:298px;
}

